<footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="https://lamayasser798@gmail.com">lama nemra</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" class="text-danger" href="https://lamayasser798@gmail.com"><i class="fab fa-lg fa-email"></i></a>
        <a target="_blank" href="https://github.com/LamaNmra"><i class="fab fa-lg ml-1 fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/lama-nemra-7215651b7"><i class="fab fa-lg ml-1 fa-email"></i></a>
    </div>
  </footer>